<div id="intro-card-container" class="main_child_ignore">
  <section role="region"
        aria-label="{$aria_label['text']|noescape}">

    <div n:ifcontent class="panel panel__preface">
      <div class="thumb">
        <div class="inner">

          <!-- Start Paragraphs -->
          <div n:if="!empty($main_content)"
               class="drop_case_second_paragraph_letter__container">
            <div n:foreach="$main_content as $mc"
                n:ifcontent
                class=""
                role="region">
              <p>
                {$mc['main_paragraph']['text']|noescape}
              </p>
            </div>
          </div>
          <!--/End Paragraphs-->

          <h2 n:ifcontent aria-label="Quick Links" data-splitting="words">
            Quick Links
          </h2>

          <!-- Start Quick List -->
          <ul n:if="!empty($quick_links)">
            <li n:foreach="$quick_links as $ql"
                 n:ifcontent
                 class=""
                 role="region">
              <a href="{$ql['quick_link']['text']|noescape}">{$ql['link_text']['text']|noescape}</a>
            </li>
          </ul>
          <!--/End Quick List-->

        </div><!--/inner-->
      </div><!--/thumb-->
    </div><!--/panel-->

  </section>
</div>
