<section class="article-wrap">
  <article class="article">
    <h2 n:ifcontent class="article__title">
      {$main_heading['text']|noescape}
    </h2>
    
    <div n:ifcontent class="article__description">
      {$main_content['text']|noescape}
    </div>
  </article>
</section>
