{*
  * The template for displaying search results pages
  *
  * @package WordPress
  * @subpackage theme-sigcon
*}
{include tr_view_path('/layout/search-header')}

<div class="content form_search_container">

  {the_content()}

</div>


{include tr_view_path('/layout/footer')}