
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  // font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.schedule__container {
  background: var(--backgroundColor);
  color: var(--backgroundColor);

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFonts);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primaryColor);
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: clamp(30px,10vw,48px);
    margin: 2rem 0;
  }

  // h3 {
  //   position: absolute;
  //   height: 100px;
  // }

}

.heading {
  line-height: 2;
  font-weight: 900;
}

.schedule__container {
  overflow: auto;

  .schedule__day_container,
  .schedule__session_type_wrapper {
    display: inline-block;
  }
}

.schedule__session {
  display: grid;
  grid-auto-columns: 290px;
  grid-auto-flow: column;
  grid-gap: 2rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
  min-width: 100vw;
  margin-top: 4rem;
  position: relative;

  &::after {
    content: "";
    width: var(--padding);
  }
}

.divider {
  position: sticky;
  left: 0;
  border: none;
  border-bottom: 35px solid var(--accentColor);
  margin-bottom: 2rem;
}

.schedule__day_container {
  h3 { font-size: 2.75rem;}
  h4 { font-size: 2.15rem;}
  // h3, h4 {
  //   background: var(--primaryColor);
  //   background: linear-gradient(to right, var(--primaryColor), var(--secondaryColor), var(--accentColor));
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  // }
}

.schedule__session_title {
  text-align: end;
  width: 290px;
  position: sticky;
  left: 0;
  padding-right: 5rem;
  height: 100%;
  padding-left: var(--padding);
  background: linear-gradient(to right, var(--backgroundColor) 30%, hsla(0,0%,0%,0));

  .time {
    color: var(--primaryColor);
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
  }
}

.schedule__stage_guide-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 280px;
  grid-gap: 2rem;
}

.guide-slot {
  & > h5 {
    font-size: 1.75rem;
    text-transform: none;
    padding: 1rem;
  }
  & > p {
    color: white;
  }
}

.guide-slot_card {
  background: var(--primaryColor);
  border: 2px solid var(--backgroundColor);
  border-radius: 0.8rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 1rem;
  transition-duration: 0.3s;

  &:hover {
    border-color: var(--secondaryColor);
    transition-duration: 0.3s;
  }

  & > h6 {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    color: var(--accentColor);
    text-transform: none;
  }

  p.presenters {
    font-family: var(--copyFonts);
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    list-style-type: none;
  }
}
