<article id="schedule__container" class="schedule__container">
  <form role="form">
    <div class="form-group">
      <input type="text" class="form-control" id="search">
        <label class="float-label" for="search">
          Search filter for workshops
        </label>
    </div>
  </form>
</article>