/* helpers */

// margins
.mb0 {
  margin-bottom: 0;
}

.mb40 {
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

// bg-color helper classes
.bg-gray {
  background-color: #f4f6f9 !important;
}

// txt-color helper classes
.c-brand {
  color: var(--c-brand) !important;
}

.h-bg-zoom {
  position: relative;
  display: block;
  overflow: hidden;

  &__img {
    @extend %bgncc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
  }

  &:hover .h-bg-zoom__img {
    transform: scale(1.05);
  }
}

// IMAGES
// Sizing Width
.image__150w { width:150px !important; }
.image__200w { width:200px !important; }
.image__250w { width:250px !important; }
.image__300w { width:300px !important; }
.image__400mw { max-width:300px !important; }
.image__500mw { max-width:300px !important; }
.image__600mw { max-width:300px !important; }
.image__700mw { max-width:300px !important; }
.image__800mw { max-width:300px !important; }

// Special images
.image__float_left_circle_shape {
  height: auto;
  border-radius: 50% !important;
  box-shadow: 4px 0 10px -2px var(--primaryColor);
  float: left !important;
  shape-outside: circle();
  margin-right: 1em !important;
  margin-bottom: 1em !important;
}

// Margins
.margin_top_pt25_rem  { margin-top: 0.25rem; }
.margin_top_pt5_rem   { margin-top: 0.5rem; }
.margin_top_pt75_rem  { margin-top: 0.75rem; }
.margin_top_1_rem     { margin-top: 1rem; }