:root {
	// Typography
	--headingFonts: "Exo 2";
	--copyFonts: "Poppins";
	--specialCaseFonts: "Dosin";

	// Colors
	--backgroundColor: #f3faff;
	--foregroundColor: #0d242f;
	--primaryColor: #005687;
	--primaryShade1: #e1f5fe;
	--primaryShade2: #b3e5fc;
	--primaryShade3: #4fc3f7;
	--primaryShade4: #0288d1;
	--primaryShade5: #186cb8;
	--secondaryColor: #f44336;
	--secondaryShade1: #ffdde0;
	--secondaryShade2: #ffcdd2;
	--secondaryShade3: #ef9a9a;
	--secondaryShade4: #d32f2f;
	--secondaryShade5: #b71c1c;
	--accentColor: #f1b211;
	--accentShade1: #f9f1dc;
	--accentShade2: #f4dea7;
	--accentShade3: #f2cb69;
	--accentShade4: #f0bb34;
	--accentShade5: #b68300;
	--accent2Color: #009688;
	--accent2Shade1: #e0f2f1;
	--accent2Shade2: #b2dfdb;
	--accent2Shade3: #64babe;
	--accent2Shade4: #429499;
	--accent2Shade5: #1d7b80;
}
